Repository Kanialdo/compose-charts, pull requests merged in 2022-09, with the labels that each got.

#63 Add radar chart
  README.md
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/DemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/RadarChartDemoView.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/radar/RadarChart.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/radar/RadarChartPreview.kt
Labels: enhancement, radar chart

#66 Add Horizontal Bar Chart
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/DemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/HorizontalBarChartDemoView.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/Colors.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/horizontalbar/HorizontalBarChart.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/horizontalbar/HorizontalBarChartPreview.kt
Labels: horizontal bar chart

#70 Add polar chart
  README.md
  demo/src/main/kotlin/Main.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/DemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/PolarChartDemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/RadarChartDemoView.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/pie/PieChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/polar/PolarChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/radar/RadarChart.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/polar/PolarChartPreview.kt
Labels: polar chart

#76 Add XAxis to BarChart
  README.md
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/BarChartDemoView.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/bar/BarChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/bar/BarChartXAxis.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/bar/BarChartPreview.kt
Labels: bar chart

#77 Fix horizontal bar does not fill full available space vertically
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/horizontalbar/HorizontalBarChart.kt
Labels: horizontal bar chart

#80 Add YAxis to Horizontal Chart Bar
  README.md
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/HorizontalBarChartDemoView.kt
  lib/src/androidMain/kotlin/pl/krystiankaniowski/composecharts/internal/ChartsText.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/horizontalbar/HorizontalBarChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/horizontalbar/HorizontalBarChartYAxis.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/internal/ChartsText.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/horizontalbar/HorizontalBarChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/internal/ChartsText.kt
Labels: horizontal bar chart

#82 Add dynamic scale to Radar chart
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/internal/NiceScale.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/radar/RadarChart.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/radar/RadarChartPreview.kt
Labels: radar chart

#83 Add dynamic scale to Polar chart
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/internal/NiceScale.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/polar/PolarChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/radar/RadarChart.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/polar/PolarChartPreview.kt
Labels: polar chart

#88 Add Stacked mode to Line Chart
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/DemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/LineChartDemoView.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/line/LineChart.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/line/LineChartPreview.kt
Labels: line chart

#89 Add Stacked Proportional mode to Line Chart
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/DemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/LineChartDemoView.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/line/LineChart.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/line/LineChartPreview.kt
Labels: line chart

#92 Remove unspecified color support form charts and require color for each dataset
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/BarChartDemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/LegendDemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/LineChartDemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/PieChartDemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/PointChartDemoView.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/Colors.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/bar/BarChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/line/LineChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/pie/PieChart.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/bar/BarChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/legend/LegendPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/line/LineChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/pie/PieChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/point/PointChartPreview.kt
Labels: enhancement

#93 Add doughnut mode to pie chart
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/DemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/DoughnutChartDemoView.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/circural/DoughnutChart.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/circural/DoughnutChartPreview.kt
Labels: pie chart

#94 Sunburst Chart
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/DemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/SunbrustChartDemo.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/circural/SunbrustChart.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/circural/SunbrustChartPreview.kt
Labels: enhancement

#95 Unify circular charts
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/DemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/PolarChartDemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/RadarChartDemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/SunbrustChartDemo.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/circular/DoughnutChartDemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/circular/PieChartDemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/circular/PolarChartDemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/circular/RadarChartDemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/circular/SunbrustChartDemo.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/circular/DoughnutChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/circular/PieChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/circular/PolarChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/circular/RadarChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/circular/SunbrustChart.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/circular/DoughnutChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/circular/PieChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/circular/PolarChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/circular/RadarChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/circular/SunbrustChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/polar/PolarChartPreview.kt
Labels: enhancement, pie chart, radar chart, polar chart

#97 Add ability to manipulate charts in demo
  README.md
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/DemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/circular/DoughnutChartDemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/circular/PieChartDemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/circular/PolarChartDemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/circular/RadarChartDemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/components/Components.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/circular/PieChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/circular/RadarChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/horizontalbar/HorizontalBarChart.kt
Labels: enhancement, demo

#102 Add icon to Demo
  demo/assets/android/play_store_512.png
  demo/assets/android/res/mipmap-anydpi-v26/ic_launcher.xml
  demo/assets/android/res/mipmap-hdpi/ic_launcher.png
  demo/assets/android/res/mipmap-hdpi/ic_launcher_background.png
  demo/assets/android/res/mipmap-hdpi/ic_launcher_foreground.png
  demo/assets/android/res/mipmap-mdpi/ic_launcher.png
  demo/assets/android/res/mipmap-mdpi/ic_launcher_background.png
  demo/assets/android/res/mipmap-mdpi/ic_launcher_foreground.png
  demo/assets/android/res/mipmap-xhdpi/ic_launcher.png
  demo/assets/android/res/mipmap-xhdpi/ic_launcher_background.png
  demo/assets/android/res/mipmap-xhdpi/ic_launcher_foreground.png
  demo/assets/android/res/mipmap-xxhdpi/ic_launcher.png
  demo/assets/android/res/mipmap-xxhdpi/ic_launcher_background.png
  demo/assets/android/res/mipmap-xxhdpi/ic_launcher_foreground.png
  demo/assets/android/res/mipmap-xxxhdpi/ic_launcher.png
  demo/assets/android/res/mipmap-xxxhdpi/ic_launcher_background.png
  demo/assets/android/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  demo/assets/ios/AppIcon-20@2x.png
  demo/assets/ios/AppIcon-20@2x~ipad.png
  demo/assets/ios/AppIcon-20@3x.png
  demo/assets/ios/AppIcon-20~ipad.png
  demo/assets/ios/AppIcon-29.png
  demo/assets/ios/AppIcon-29@2x.png
  demo/assets/ios/AppIcon-29@2x~ipad.png
  demo/assets/ios/AppIcon-29@3x.png
  demo/assets/ios/AppIcon-29~ipad.png
  demo/assets/ios/AppIcon-40@2x.png
  demo/assets/ios/AppIcon-40@2x~ipad.png
  demo/assets/ios/AppIcon-40@3x.png
  demo/assets/ios/AppIcon-40~ipad.png
  demo/assets/ios/AppIcon-60@2x~car.png
  demo/assets/ios/AppIcon-60@3x~car.png
  demo/assets/ios/AppIcon-83.5@2x~ipad.png
  demo/assets/ios/AppIcon@2x.png
  demo/assets/ios/AppIcon@2x~ipad.png
  demo/assets/ios/AppIcon@3x.png
  demo/assets/ios/AppIcon~ios-marketing.png
  demo/assets/ios/AppIcon~ipad.png
  demo/assets/ios/Contents.json
  demo/assets/web/README.txt
  demo/assets/web/apple-touch-icon.png
  demo/assets/web/favicon.ico
  demo/assets/web/icon-192-maskable.png
  demo/assets/web/icon-192.png
  demo/assets/web/icon-512-maskable.png
  demo/assets/web/icon-512.png
  demo/build.gradle.kts
  demo/icon.icns
  demo/icon.ico
  demo/icon.png
  demo/src/main/kotlin/Main.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/DemoTheme.kt
  demo/src/main/resources/icon.png
Labels: enhancement, demo

#107 Choosing an Attractive Linear Scale for a Graph's Y Axis
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/bar/BarChartYAxis.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/internal/NiceScale.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/internal/YLines.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/line/LineChartYAxis.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/point/PointChartYAxis.kt
  lib/src/commonTest/kotlin/pl/krystiankaniowski/composecharts/internal/YLinesTest.kt
Labels: enhancement

#109 NiceScale provides or draws not nice values
  README.md
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/circular/PolarChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/circular/RadarChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/internal/NiceScale.kt
  lib/src/commonTest/kotlin/pl/krystiankaniowski/composecharts/internal/NiceScaleKtTest.kt
Labels: bug

#119 Update column and bar charts namimg conventions
  README.md
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/DemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/BarChartDemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/ColumnChartDemoView.kt
  demo/src/main/kotlin/pl/krystiankaniowski/composecharts/views/HorizontalBarChartDemoView.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/bar/BarChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/bar/BarChartYAxis.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/column/ColumnChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/column/ColumnChartXAxis.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/column/ColumnChartYAxis.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/horizontalbar/HorizontalBarChartYAxis.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/bar/BarChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/column/ColumnChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/horizontalbar/HorizontalBarChartPreview.kt
Labels: enhancement, bar/column chart

#120 Add XAxis to Bar Chart
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/bar/BarChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/bar/BarChartXAxis.kt
Labels: enhancement, bar/column chart

#121 Chart area depends on nice min and max values
  README.md
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/bar/BarChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/bar/BarChartXAxis.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/circular/PolarChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/circular/RadarChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/column/ColumnChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/column/ColumnChartYAxis.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/internal/AxisScale.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/internal/NiceScale.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/line/LineChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/line/LineChartYAxis.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/point/PointChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/point/PointChartXAxis.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/point/PointChartYAxis.kt
  lib/src/commonTest/kotlin/pl/krystiankaniowski/composecharts/internal/AxisScaleTest.kt
  lib/src/commonTest/kotlin/pl/krystiankaniowski/composecharts/internal/NiceScaleKtTest.kt
Labels: enhancement

#124 Update dependencies
  build.gradle.kts
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
Labels: enhancement

#131 Fix sunburst naming
  README.md
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/DemoView.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/views/circular/SunburstChartDemo.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/circular/SunburstChart.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/circular/SunburstChartPreview.kt
Labels: enhancement

#138 Make demo adaptable to desktop and phone
  README.md
  demo-android/src/main/java/pl/krystiankaniowski/composecharts/demo/MainActivity.kt
  demo-desktop/src/main/kotlin/Main.kt
  demo-shared/src/androidMain/kotlin/pl/krystiankaniowski/composecharts/Platform.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/DemoApplication.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/DemoChartScreen.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/DemoMenu.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/DemoView.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/Platform.kt
  demo-shared/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/Platform.kt
Labels: enhancement, demo

#143 Fix detekt configuration and fix all reported deffects
  build.gradle.kts
  config/detekt.yml
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/DemoApplication.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/DemoMenu.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/views/AreaChartDemoView.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/views/BarChartDemoView.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/views/ColumnChartDemoView.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/views/PointChartDemoView.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/views/circular/DoughnutChartDemoView.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/views/circular/PieChartDemoView.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/views/circular/PolarChartDemoView.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/views/circular/RadarChartDemoView.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/views/circular/SunburstChartDemo.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/views/line/LineChartCustomDemoView.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/views/line/LineChartDemoView.kt
  gradle/libs.versions.toml
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/ChartsTheme.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/Colors.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/area/AreaChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/area/AreaChartXAxis.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/area/AreaChartYAxis.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/bar/BarChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/bar/BarChartXAxis.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/bar/BarChartYAxis.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/circular/DoughnutChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/circular/PieChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/circular/PolarChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/circular/RadarChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/circular/SunburstChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/column/ColumnChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/column/ColumnChartXAxis.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/column/ColumnChartYAxis.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/internal/AxisScale.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/internal/Math.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/line/LineChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/line/LineChartXAxis.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/line/LineChartYAxis.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/point/PointChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/point/PointChartXAxis.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/point/PointChartYAxis.kt
  lib/src/commonTest/kotlin/pl/krystiankaniowski/composecharts/internal/PointMapperTest.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/area/AreaChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/bar/BarChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/circular/DoughnutChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/circular/PieChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/circular/SunburstChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/column/ColumnChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/internal/ChartChoreographerPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/line/areaChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/point/PointChartPreview.kt
Labels: enhancement

#144 Add trailing comma support to editorconfig
  .editorconfig
Labels: enhancement

#147 Unify charts data structure
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/views/AreaChartDemoView.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/views/BarChartDemoView.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/views/ColumnChartDemoView.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/views/PointChartDemoView.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/views/circular/DoughnutChartDemoView.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/views/circular/PieChartDemoView.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/views/circular/PolarChartDemoView.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/views/circular/RadarChartDemoView.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/views/circular/SunburstChartDemo.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/views/line/LineChartCustomDemoView.kt
  demo-shared/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/views/line/LineChartDemoView.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/area/AreaChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/area/AreaChartXAxis.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/bar/BarChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/bar/BarChartYAxis.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/circular/DoughnutChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/circular/PieChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/circular/PolarChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/circular/RadarChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/circular/SunburstChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/column/ColumnChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/column/ColumnChartXAxis.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/line/LineChart.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/line/LineChartXAxis.kt
  lib/src/commonMain/kotlin/pl/krystiankaniowski/composecharts/point/PointChart.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/area/AreaChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/bar/BarChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/circular/DoughnutChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/circular/PieChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/circular/PolarChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/circular/RadarChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/circular/SunburstChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/column/ColumnChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/line/AreaChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/line/areaChartPreview.kt
  lib/src/desktopMain/kotlin/pl/krystiankaniowski/composecharts/point/PointChartPreview.kt
Labels: enhancement
